<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/nav') %>
    <main id="content">
      <div class="balance">
        <div class="card">
            <div class="header-subtitle">
                <ul class="subtitle-list">
                    <li class="subtitle-item subtitle-item-admin"><h1 class="subtitle-item-link">Balance Semanal <img class="img-arrow" src="{% static 'img/budget.svg'%}" alt=""></h1></li>
                </ul>
            </div>
            <ul class="list py-2">
                <li class="list-balance"><a class="list-item">Ingresos</a></li>
                <li class="list-balance"><a class="list-item text-success">$  0</a></li>
            </ul>
            <ul class="list py-2">
                <li class="list-balance"><a class="list-item">Gastos</a></li>
                <li class="list-balance"><a class="list-item text-warning">$ 0</a></li>
            </ul>
            <hr>
            <!-- {% if balanceSemanal > 0  %} -->
                <ul class="list py-2">
                    <li class="list-balance"><a class="list-item ">Balance</a></li>
                    <li class="list-balance"><a class="list-item text-success d-flex">$  0 <img class="img-arrow" src="{% static 'img/flechaarriba.svg'%}" alt=""></a></li>
                </ul>
            <!-- {% else %} -->
                <ul class="list py-2">
                    <li class="list-balance"><a class="list-item">Balance</a></li>
                    <li class="list-balance"><a class="list-item text-warning d-flex">$  0 <img class="img-arrow" src="{% static 'img/flechaabajo.svg'%}" alt=""></a></li>
                </ul>
            <!-- {% endif %} -->
        </div>
        <div class="card">
          <div class="header-subtitle">
              <ul class="subtitle-list">
                  <li class="subtitle-item subtitle-item-admin"><h1 class="subtitle-item-link">Balance Semanal <img class="img-arrow" src="{% static 'img/budget.svg'%}" alt=""></h1></li>
              </ul>
          </div>
          <ul class="list py-2">
              <li class="list-balance"><a class="list-item">Ingresos</a></li>
              <li class="list-balance"><a class="list-item text-success">$  0</a></li>
          </ul>
          <ul class="list py-2">
              <li class="list-balance"><a class="list-item">Gastos</a></li>
              <li class="list-balance"><a class="list-item text-warning">$ 0</a></li>
          </ul>
          <hr>
          <!-- {% if balanceSemanal > 0  %} -->
              <ul class="list py-2">
                  <li class="list-balance"><a class="list-item ">Balance</a></li>
                  <li class="list-balance"><a class="list-item text-success d-flex">$  0 <img class="img-arrow" src="{% static 'img/flechaarriba.svg'%}" alt=""></a></li>
              </ul>
          <!-- {% else %} -->
              <ul class="list py-2">
                  <li class="list-balance"><a class="list-item">Balance</a></li>
                  <li class="list-balance"><a class="list-item text-warning d-flex">$  0 <img class="img-arrow" src="{% static 'img/flechaabajo.svg'%}" alt=""></a></li>
              </ul>
          <!-- {% endif %} -->
      </div>
      </div>
      <div class="container">
        <div class="header-subtitle">
          <ul class="subtitle-list">
            <li class="subtitle-item subtitle-item-admin"><h1 class="subtitle-item-link">Ultimas ventas</h1></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="header-subtitle">
          <ul class="subtitle-list">
            <li class="subtitle-item subtitle-item-admin"><h1 class="subtitle-item-link">Productos sin stock</h1></li>
          </ul>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
